In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing,model_selection, metrics

data = pd.read_csv("energydata_complete.csv")
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

# removing the following columns: [“date”, “lights”].

In [2]:
data = data.drop(['date', 'lights'], axis=1)
data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

# using the MinMaxScaler

In [3]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

data_scaled = pd.DataFrame(scaler.fit_transform(data), columns = data.columns)

# The target variable is “Appliances”

In [4]:
x = data_scaled.drop(columns=['Appliances'])
y = data_scaled['Appliances']

# Use a 70-30 train-test set split with a random state of 42

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=42)

# From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P

In [6]:
X2 = data_scaled['T2'].values.reshape(-1, 1)
Y2 = data_scaled['T6'].values.reshape(-1, 1)

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X2, Y2, test_size = 0.3, random_state=42)

from sklearn import linear_model 

lin_regr2 = linear_model.LinearRegression()
lin_regr2.fit(xtrain, ytrain)

pred2 = lin_regr2.predict(xtest)

from sklearn.metrics import r2_score
r2_score  = r2_score(ytest, pred2) 
round(r2_score, 2)

0.64

# What is the Mean Absolute Error (in two decimal places)for the main dataset?

In [7]:
from sklearn import linear_model 
lin_regr = linear_model.LinearRegression()
lin_regr.fit(x_train, y_train)

pred = lin_regr.predict(x_test)

from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, pred)
round(MAE, 2)

0.05

# What is the Residual Sum of Squares (in two decimal places) for the main dataset?

In [8]:
RSS = np.sum(np.square(y_test - pred))
round(RSS, 2)

45.35

# What is the Root Mean Squared Error (in three decimal places) for the main dataset?

In [9]:
from sklearn.metrics import mean_squared_error
RMSE = np.sqrt(mean_squared_error(y_test, pred))
round(RMSE, 3)

0.088

# What is the Coefficient of Determination (in two decimal places)?

In [10]:
#R-Squared or coefficient of determination
from sklearn.metrics import r2_score

r2_score = r2_score(y_test, pred)
round(r2_score, 2)

0.15

# Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [11]:
def get_weights(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    
    return weights_df

linear_model_weights = get_weights(lin_regr, x_train, 'Weight')
linear_model_weights

       Features    Weight
0          RH_2 -0.456698
1         T_out -0.321860
2            T2 -0.236178
3            T9 -0.189941
4          RH_8 -0.157595
5        RH_out -0.077671
6          RH_7 -0.044614
7          RH_9 -0.039800
8            T5 -0.015657
9            T1 -0.003281
10          rv1  0.000770
11          rv2  0.000770
12  Press_mm_hg  0.006839
13           T7  0.010319
14   Visibility  0.012307
15         RH_5  0.016006
16         RH_4  0.026386
17           T4  0.028981
18    Windspeed  0.029183
19         RH_6  0.038049
20         RH_3  0.096048
21           T8  0.101995
22    Tdewpoint  0.117758
23           T6  0.236425
24           T3  0.290627
25         RH_1  0.553547

# observation : RH_2 has the lowest weights while RH_1 has the highest weights

# Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [12]:
from sklearn.linear_model import Ridge 

ridge = Ridge(alpha=0.4)
ridge.fit(x_train, y_train)
pred_ridge = ridge.predict(x_test)

from sklearn.metrics import mean_squared_error

RMSE = np.sqrt(mean_squared_error(y_test, pred_ridge))
round(RMSE, 3)

0.088

# There is no change in RMSE

# Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [14]:
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.001)
lasso.fit(x_train, y_train)

pred_lasso = lasso.predict(x_test)

#Lasso on weights
lasso_weights = get_weights(lasso, x_train, 'Lasso-weight')
lasso_weights

       Features  Lasso-weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

#Four features have non-zero weights. They include RH_out, RH_8, Windspeed, RH_1

# What is the new RMSE with the Lasso Regression (in 3 decimal places)?

In [16]:
from sklearn.metrics import mean_squared_error

RMSE = np.sqrt(mean_squared_error(y_test, pred_lasso))
round(RMSE, 3)

0.094